{% extends 'base.html.twig' %}

{% block title %}AttractionLand - Guest Home{% endblock %}


{% block body %}

  <div class="card1 card position-relative">
    <div class="card-body">
      <h1>Home</h1>
      <p>AttractionLand is a website in which attractions around the world is shown and registered users can insert new attractions they like here into AttractionLand. <br>
      The website is lastly written in HTML, CSS, PHP and lastly Symfony, Bootstrap and lastly Twig is used.
      </p>
    </div>
  </div>

{% endblock %}
