{% extends 'base.html.twig' %}

{% block title %}AttractionLand - Login{% endblock %}

{% block body %}
 <div class="card2 card position-relative">
  <div class="card-body">
   <div class="mb-3">
  {% if error %}
   <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

    <h1 class= "heading3 position-relative">Login</h1>

  <form action="{{ path('Login') }}" method="POST">
   <label for="username" class="form-label">Username</label>
   <input type="text" id="_username" name="_username" value="{{ last_username }}" class="form-control">
   <div class="mb-3">
   <label for="password" class="form-label">Password</label>
   <input type="password" id="_password" name="_password"  class="form-control">
   </div>

   <input type="hidden" name="_target_path" value="/">

   <button class="button1 btn btn-lg btn-primary position-relative" type="submit">Login</button>
  </form>
  </div>
  </div>
 </div>
 {% endblock %}
